
.calendarBackButton {
  background-color: #B8B3A5;
}


.form-inline {
  margin-bottom: 1.5rem;
  margin-top: 1.5rem;
}

.inputfile {
  background-color: rgba(184, 179, 165, .75);
  border-radius: 4px 4px 4px 4px;
  cursor: pointer;
  display: block;
  margin-bottom: .5rem;
  padding: .35rem .5rem;
}

.inputPost {
  border-radius: 0 0 4px 4px;
}

.labelPost {
  background-color: rgba(184, 179, 165, .75);
  display: block;
  border-radius: 4px 4px 0 0;
  font-weight: bold;
  margin-bottom: 0;
  padding: .35rem .5rem;
}

.list-group-item {
  background-color: transparent;
}

.postsAll {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.postAllPost {
  filter: opacity(50);
  overflow: auto;
}

.postForm {
  margin-left: -3rem;
  margin-right: 4rem;
  padding-top: 8rem;
}

.tags {
  padding: 0.25rem;
  border: 1px solid #ccc;
  border-radius: 4px 4px 4px 4px;
  margin-right: 0.5rem;
  background-color: #eee;
  display: inline-block;
}
