@import '~bootstrap/scss/bootstrap';

body{
  background-attachment: fixed;
  background-image: url('assets/background.jpg');
  background-position: 0 58px;
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 86px;
}

.jumbotron {
  background-color: rgba(184, 179, 165, .65);
  margin-bottom: 1rem;
  margin-top: 2.5rem;
}

.jumbotron-auth {
  background-color: rgba(184, 179, 165, .65);
  margin-bottom: 1rem;
  margin-top: 2.5rem;
  padding: 2rem 1rem;
}

.nav-bar {
  background-color: rgb(125, 133, 112);
}
